body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #efefef;
}

.div-style {
  padding: 20px;
  border-bottom: 2px solid #efefef;
  height: 20px !important;
}

.to-do-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.refresh-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.to-do-sec .container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  top: 50%;
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
}

.heading-icon {
  color: #6b6969;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-form {
  width: 90%;
}

::placeholder {
  font-style: italic;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-btn {
  width: 10%;
  background: none;
  border: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.single-list {
  display: flex;
  justify-content: space-between;
}

.single-list-form {
  width: 90%;
}

.checkbox {
  height: 15px;
  width: 20px;
  cursor: pointer;
}

.move-btn {
  border: none;
  background: none;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.clear-all {
  height: 60px;
}

.clear-all-btn {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 16px;
  color: grey;
  cursor: pointer;
}

/* .single-list-input {
  height: ;
} */

.main-inputs {
  height: 35px;
  width: 90%;
  font-size: 16px;
  border: none;
  color: #6b6969;
}

.line-through {
  text-decoration: line-through;
}

.none {
  text-decoration: none;
}

.main-inputs:focus {
  outline: none;
}

i {
  color: #6b6969;
}